<?xml version="1.0" encoding="utf-8" ?>
<config>
	<modules>
		<!-- Modules to load, some modules are dependent on others 
		     They are loaded in the order which they appear here
		     MainMenu is essential, should not be removed -->
		<module name="BeverDrive.Modules.MainMenuSimple">
			<!-- Main menu items goes here -->
			<setting name ="MenuItem1" value="BeverDrive.Modules.Mp3Player" />
			<setting name ="MenuItem2" value="BeverDrive.Modules.VideoPlayer" />
			<setting name ="MenuItem3" value="BeverDrive.Modules.NubblesModule" />
			<setting name ="MenuItem4" value="BeverDrive.Modules.IbusDebug" />
			<setting name ="MenuItem5" value="BeverDrive.Modules.FileManager_Step1" />
			<setting name ="MenuItem6" value="BeverDrive.Modules.GraphicBrowserTest" />
		</module>
		<module name="BeverDrive.Modules.Mp3Player" />
		<module name="BeverDrive.Modules.VideoPlayer" />
		<module name="BeverDrive.Modules.NubblesModule" />
		<module name="BeverDrive.Modules.FileManager_Step1" />
		<module name="BeverDrive.Modules.FileManager_Step2" />
		<module name="BeverDrive.Modules.GraphicBrowserTest" />

		<!-- The bluetooth module requires a bluetooth interface -->
		<!-- <module name="BeverDrive.Modules.Bluetooth" /> -->

		<!-- This module is not necessary for normal operation -->
		<module name="BeverDrive.Modules.IbusDebug" />
	</modules>

	<settings>
		<!-- Which serial port is the IBUS interface connected to -->
		<setting name="ComPort" value="COM1" />

		<!-- Enable/disable Ibus, set this to false if you dont have a serial port
		     and want to navigate with LEFT/RIGHT/SPACE -->
		<setting name="EnableIbus" value="true" />

		<!-- Greeting sent when BeverDrive has been started -->
		<setting name="Greeting" value="BEVERDRIVE STARTED" />
		
		<!-- Root directory of mp3's -->
		<setting name="MusicRoot" value="D:\BeverDrive\Mp3" />
		
		<!-- Root directory of videos -->
		<setting name="VideoRoot" value="D:\BeverDrive\Videos" />

		<!-- Which file types to recognize -->
		<setting name="MusicFileTypes" value="mp3;flac;ogg" />
		<setting name="VideoFileTypes" value="mp4;mkv;avi;mpg;m2v" />

		<!-- Hide the cursor? Yes you almost always want this on -->
		<setting name="HideCursor" value="true" />
		
		<!-- How many pixels from each direction should we offset the drawing area -->
		<setting name="OffsetBottom" value="10" />
		<setting name="OffsetLeft" value="10" />
		<setting name="OffsetRight" value="10" />
		<setting name="OffsetTop" value="10" />

		<!-- Tv Mode, which mode should the board monitor switch to.
			The possibilities are:
			Mode_169Zoom_60Hz,
			Mode_169Zoom_50Hz,
			Mode_169_60Hz,
			Mode_169_50Hz,
			Mode_43_60Hz,
			Mode_43_50Hz
			
			Default if no tv mode is set is Mode_43_60Hz
		-->
		<setting name="TvMode" value="Mode_169Zoom_60Hz" />

		<!-- Video mode, which mode shoud the GUI use: Mode_169 or Mode_43-->
		<setting name="VideoMode" value="Mode_169" />
		
		<!-- Path to VLC libraries -->
		<setting name="VlcPath" value="C:\Program Files\Media\vlc-2.1.5" />

		<!-- Background color -->
		<setting name="BackgroundColor" value="#3E4382" />
		
		<!-- Foreground color -->
		<setting name="ForegroundColor" value="#D3D3D3" />
		
		<!-- Color when selected -->
		<setting name="SelectedColor" value="#FF4500" />

		<!-- Clock background color -->
		<setting name="ClockBackgroundColor" value="#D3D3D3" />

		<!-- Clock foreground color -->
		<setting name="ClockForegroundColor" value="#000000" />

		<!-- Debug stuff -->
		<setting name="DebugTrack" value="3" />
	</settings>
</config>